body {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.dashboard-main {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.content-area {
  flex-grow: 1;
  padding: 0px;
  overflow-y: auto;
}

.right-panel {
  width: 480px;
  height: 100vh;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 5px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashboard-main {
    flex-direction: column;
    height: auto;
  }

  .right-panel {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

.diagram-and-cards {
  display: flex;
  margin-bottom: 0px;
  align-items: stretch;
}

.diagram-and-cards > * {
  flex: 1 1 0;
  background: #fff;
  padding: 0px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .diagram-and-cards {
    flex-direction: column;
  }

  .diagram-and-cards > * {
    margin-bottom: 20px;
    padding: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px;
}

html, body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.content-area > div {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
  filter: grayscale(30%);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}

.content-area > div.highlight {
  opacity: 1;
  filter: none;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
